/*!
 * # Semantic UI 2.2.6 - Reset
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */*,:after,:before{box-sizing:inherit}html{box-sizing:border-box;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}input[type=text],input[type=email],input[type=search],input[type=password]{-webkit-appearance:none;-moz-appearance:none}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@import url('https://fonts.googleapis.com/css?family=Cabin');

 /*******************************
             Page
*******************************/


html,
body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Cabin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color:#fff;
  background:#000;
  font-smoothing: antialiased;
}

/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cabin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.714rem;
}
h3 {
  font-size: 1.28rem;
}
h4 {
  font-size: 1.071rem;
}
h5 {
  font-size: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}


/*******************************
             Text
*******************************/

p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}



#wrap {
    display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	position: relative;
	height: 100vh;
	width: 100vw;

	background-image: url("../img/bgoffline.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.row {
    width: 100vw;
    height: 100vh;
}

.row:before, 
.row:after {
    content:"";
    display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
    clear:both;    
}


[class*='col-'] {
   float: left;
    display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
   height: 100vh;
}

.col-100 {
        width: 100%;
}

.col-25 {
        width: 25%;
}

.col-75 {
        width: 75%;
}

.colum-20 {
       float: left;
    display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
    width: 20%;
}

/***********

Colors

***********/

.colorBg {
background: rgba(82,5,118,0.75);
background: -moz-linear-gradient(top, rgba(82,5,118,0.75) 0%, rgba(226,3,51,0.75) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82,5,118,0.75)), color-stop(100%, rgba(226,3,51,0.75)));
background: -webkit-linear-gradient(top, rgba(82,5,118,0.75) 0%, rgba(226,3,51,0.75) 100%);
background: -o-linear-gradient(top, rgba(82,5,118,0.75) 0%, rgba(226,3,51,0.75) 100%);
background: -ms-linear-gradient(top, rgba(82,5,118,0.75) 0%, rgba(226,3,51,0.75) 100%);
background: linear-gradient(to bottom, rgba(82,5,118,0.75) 0%, rgba(226,3,51,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520576', endColorstr='#e20333', GradientType=0 );
}

.grayBg {
	background: rgba(48,46,47,0.35);
}


/***********

Specifics

***********/

.infoversion {
    font-size: 10px;
    text-align: center;
    color: rgba(255,255,255,0.5);
}

.infostatus {
    font-size:12px;
    text-align: center;
}

.fullCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-15 {
    height: 15vh;
}
.row-10 {
    height: 10vh;
}
.row-75 {
    height: 75vh;
}

.logo {
    width: auto;
    height: auto;
    margin: 20px;
}

#mainContent {
	overflow-y: scroll;
}

.mainMenu ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

.mainMenu ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white; 
	padding: 10px;
	background: rgba(48,46,47,0.1);
    display:block;
}
 
.mainMenu ul li a:visited {
}
 
.mainMenu ul li a:hover, .menu_simple ul li .current {
	background: rgba(48,46,47,0.25);
}



.mainPlayer {
    width: 95%;
    height: 80%;
	background: rgba(48,46,47,0.75);
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px none #000000;

        display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

    } 